<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Firebase -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.jobmatrix.JobMatrixApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobMatrix"
        tools:targetApi="31">


        <!-- ================= AUTH MODULE ================= -->

        <activity
            android:name="com.example.jobmatrix.auth.RegisterActivity"
            android:exported="true" />

        <activity
            android:name="com.example.jobmatrix.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ================= STUDENT MODULE ================= -->

        <activity
            android:name="com.example.jobmatrix.student.StudentDashboardActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name="com.example.jobmatrix.student.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop" />


        <!-- ================= EMPLOYER MODULE ================= -->

        <activity
            android:name="com.example.jobmatrix.employer.EmployerDashboardActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.example.jobmatrix.employer.EditJobActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />


        <!-- ================= ADMIN MODULE ================= -->

        <activity
            android:name="com.example.jobmatrix.admin.AdminDashboardActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />


        <activity
            android:name="com.example.jobmatrix.admin.AdminStudentsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />


        <activity
            android:name="com.example.jobmatrix.admin.AdminEmployersActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />


        <activity
            android:name="com.example.jobmatrix.admin.AdminApplicationsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />


        <activity
            android:name="com.example.jobmatrix.admin.AdminJobsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:ignore="Instantiatable" />


        <activity android:name="com.example.jobmatrix.admin.EditJobActivity" />

        <activity android:name="com.example.jobmatrix.admin.AdminAllApplicationsActivity" />


        <activity
            android:name="com.example.jobmatrix.employer.AddJobActivity"
            android:exported="false" />

        <activity
            android:name="com.example.jobmatrix.student.ApplyJobActivity"
            android:exported="false" />


        <activity
            android:name="com.example.jobmatrix.employer.EmployerApplicationsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.jobmatrix.student.JobDetailsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.jobmatrix.student.NotificationActivity"
            android:exported="false" />


        <!-- ================= PROFILE AND LOGOUT ================= -->
        <activity
            android:name="com.example.jobmatrix.profile.ProfileActivity"
            tools:ignore="Instantiatable" />

        <activity android:name="com.example.jobmatrix.auth.EmployerRegisterActivity" />

        <activity android:name="com.example.jobmatrix.settings.SettingsActivity" />

        <activity android:name="com.example.jobmatrix.profile.SkillsActivity" />


        <activity android:name="com.example.jobmatrix.employer.EmployerMyJobsActivity" />
        <activity android:name="com.example.jobmatrix.employer.ApplicantDetailsActivity" />


        <activity
            android:name="com.example.jobmatrix.chat.ChatActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />


        <activity android:name="com.example.jobmatrix.employer.EmployerNotificationActivity" />

        <activity android:name="com.example.jobmatrix.employer.EmployerProfileActivity" />


        <activity android:name="com.example.jobmatrix.student.MyApplicationsActivity" />


        <activity android:name="com.example.jobmatrix.auth.ForgotPasswordActivity" />

        <activity android:name="com.example.jobmatrix.settings.ChangePasswordActivity" />

        <activity android:name="com.example.jobmatrix.student.SavedJobsActivity" />

        <activity
            android:name="com.example.jobmatrix.chat.ImagePreviewActivity"
            android:exported="false" />

        <activity
            android:name="com.example.jobmatrix.chat.ChatListActivity"
            android:exported="false" />


        <service
            android:name="com.example.jobmatrix.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
